.topbar {
    width: calc(100vw - 300px);
    height: 60px;
    background-color: rgb(247, 249, 252);
    left: 260px;
}

.topBarWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.text{
    font-family: 'Inter', Arial;
    font-size: 24px;
    font-weight: 600;
}


.left{
    padding: 0px 26px;
}

.right {
    padding-right: 140px;
}