/* sidebar main div */
.sidebar-container {
    position: sticky;
    background-color: rgb(35, 48, 68);
    flex: 1;
    height: 100vh;
    width: 300px;
    overflow: hidden;
}

/* logo style */
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    padding: 14px;
    margin-bottom: 30px;
}

/* App Title */
.app-title {
    font-size: 19px;
    margin: 3px;
}

/* Pro/Version Indicator */
.pro-div {
    box-sizing: border-box;
    display: inline-flex;
    background-color: rgb(56, 142, 60);
    align-items: center;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 9.35px;
    height: 18px;
    margin-left: 3px;
    margin-top: -16px;
    padding: 3px 3px;
    justify-content: center;
    vertical-align: middle;
    text-align: left;
    line-height: 14.0333px;
}

.pro {
    font-weight: 500;
}

/* small header indicating pages section */
.pages-header {
    position: absolute;
    box-sizing: border-box;
    color: rgb(238, 238, 238);
    opacity: 0.4;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 42px;
    font-size: 11.1429px;
    font-weight: 500;
    top: 56px;
}

.pages-wrapper{
    box-sizing: border-box;
    background-color: rgb(35, 48, 68);
}

.pages {
    font-size: 13px;
    padding: 8px 0px;
    list-style: outside none none;
    outline: currentcolor none 0px;
    min-width: 42px;
}

.page {
    color: white;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    padding: 6px 16px;
    outline: currentcolor none 0px;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentColor;
    text-decoration-thickness: auto;
}

.page-content {
    align-items: center;
    padding: 8px 0px;
}

.page-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

.page-title {
    margin-left: 10px;
    text-align: left;
}

.page-img {
    font-size: 20px !important;
}

.page:hover, .page:active{
    background-color: rgb(30, 41, 58);
}