.App {
  text-align: center;
}

.flex-container{
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.home {
  background-color: thistle;
  height: calc(100vh - 50px);
}

